@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
  --main-color: #443;
  --border-radious:95% 4% 97% 5% 94% 3% 95%;
  --border-radious-hover:4% 95% 6% 95% 95% 4% 92% 5%;
  --border: .2rem solid var(--main-color);
  --border-hover:.2rem dashed var(--main-color); 
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section{
  padding: 2rem 9%;
}

/* --------------------------------Home START-------------------------------- */
.home{
  min-height: 100vh;
  padding-top: 12rem;
  background: url("./assets/image/home-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.home .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .row .content{
  flex: 1 1 42rem;
}

.home .row .image{
  flex: 1 1 42rem;
  padding-top: 10rem;
  text-align: center;
}

.home .row .image img{
  height: 35rem;
  animation: float 4s linear infinite;
}

@keyframes float{
  0%,100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(-7rem);
  }
}

.home .row .content h3{
  font-size: 6.5rem;
  color: var(--main-color);
  text-transform: uppercase;
}

.home .image-slider{
  text-align: center;
  padding: 3rem 0;
}

.home .image-slider img{
  height: 9rem;
  margin: 0 .5rem;
  cursor: pointer;
  margin-top: 5rem;
}

.home .image-slider img:hover{
  transform: translateY(-2rem);
}

/* --------------------------------Home END-------------------------------- */


/* --------------------------------ABOUT START-------------------------------- */
.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .image{
  flex: 1 1 42rem;
}

.about .row .image img{
  width: 100%;
  animation: aboutImage 4s linear infinite;
}
@keyframes aboutImage{
  0%,100%{
    transform: scale(.9);
    border-radius: var(--border-radious-hover);
  }
  50%{
    transform: scale(.8);
    border-radius: 50%;
  }
}

.heading{
  font-size: 9rem;
  text-transform: uppercase;
  color: rgba(158, 141, 141, 0.356);
  letter-spacing: .2rem;
  text-align: center;
  position: relative;
}

.heading span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  color: var(--main-color);
  font-size: 3rem;
}

.about .row .content{
  flex: 1 1 42rem;
}

.about .row .content .title{
  color: var(--main-color);
  font-size: 3rem;
  line-height: 1.8;
}

.about .row .content p{
  color: var(--main-color);
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
}

.about .row .content .icons-container{
  display: flex;
  flex-wrap: wrap;
  flex-wrap: 1rem;
  padding-top: 3rem;
}

.about .row .content .icons-container .icons{
  flex: 1 1 15rem;
  padding: 1.5rem;
  text-align: center;
  border: var(--border);
  border-radius: 85% 15% 94% 6% / 25% 79% 21% 75% ;
}

.about .row .content .icons-container .icons img{
  height: 5rem;
}

.about .row .content .icons-container .icons h3{
  font-size: 1.7rem;
  padding-top: 1rem;
  color: var(--main-color);
}

/* --------------------------------ABOUT END-------------------------------- */



/* --------------------------------MENU START-------------------------------- */
.menu{
  background: url('./assets/image/menu-bg.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.menu .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.menu .box-container .box{
  flex: 1 1 42rem;
  padding: 2rem;
  border: var(--border);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 6rem;
}

.menu .box-container .box:hover{
  border-radius: 78% 22% 80% 20% / 30% 78% 22% 70% ;
}

.menu .box-container .box img{
  height: 8rem;
  margin-left: -6rem;
}

.menu .box-container .box .content h3{
  font-size: 2.2rem;
  color: var(--main-color);
  line-height: 1.8;
}

.menu .box-container .box .content p{
  font-size: 1.6rem;
  color: var(--main-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.menu .box-container .box .content span{
  font-size: 2rem;
  color: var(--main-color);
  line-height: 1.8;
}
/* --------------------------------MENU END-------------------------------- */





/* --------------------------------REVIEW START-------------------------------- */
.review .review-slider{
  padding: 7rem 0;
}

.review .review-slider .box{
  border: var(--border);
  border-radius: 85% 15% 94% 6% / 25% 79% 21% 75% ;
  text-align: center;
  position: relative;
  z-index: 0;
  padding: 2rem;
}

.review .review-slider .box img{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-bottom: .7rem;
}

.review .review-slider .box .stars{
  padding: .5rem 0;
  font-size: 1.7rem;
  color: orange;
}

.review .review-slider .box p{
  font-size: 1.6rem;
  color: var(--main-color);
  padding: 1rem 0;
  line-height: 1.8;
}

.review .review-slider .box h3{
  font-size: 2.2rem;
  color: var(--main-color);
  line-height: 1.8;
}

.review .review-slider .box span{
  font-size: 1.5rem;
  color: var(--main-color);
}

/* --------------------------------REVIEW END-------------------------------- */





/* --------------------------------BOOK START-------------------------------- */
.book{
  background: url(./assets/image/book-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.book form{
  margin: 0 auto 2rem auto;
  max-width: 60rem;
  border-radius: 93% 7% 100% 0% / 8% 85% 15% 92%   ;
  padding: 3rem;
  border: var(--border);
}

.book form .box{
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: .5rem;
  font-size: 1.6rem;
  background: none;
  text-decoration: none;
  color: var(--main-color);
  border: var(--border);
  margin: .7rem 0;
}

.book form .box:focus{
  border: var(--border-hover);
}

.book form textarea{
  height: 15rem;
  resize: none;
}

/* --------------------------------BOOK END-------------------------------- */





/* --------------------------------FOOTER START-------------------------------- */
.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(23rem,1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding: 1rem 0;
  color: var(--main-color);
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: var(--main-color);
}

.footer .box-container .box .lod:hover{
  padding-right: 2rem;
}

.footer .credit{
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  margin-top: 1rem;
  color: var(--main-color);
}

/* --------------------------------FOOTER END-------------------------------- */




/* --------------------------------RESPONSIVE START-------------------------------- */
@media (max-width:991px) {
  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem;
  }
  section{
    padding: 2rem;
  }
}

@media (max-width:768px) {
    .heading{
      font-size: 6rem;
    }

    .heading span{
      font-size: 2.3rem;
    }


    .home{
      text-align: center;
    }

    .home .row .content h3{
      font-size: 4rem;
    }

    .menu .box-container .box{
      margin-left: 0;
      margin-top: 6rem;
      flex-flow: column;
      text-align: center;
    }

    .menu .box-container .box img{
      margin-left: 0;
      margin-top: -6rem;
    }
}

@media screen and (max-width:450px) {
    html{
      font-size: 50%;
    }
    .home .row .image img{
      height: auto;
      width: 100%;
    }
    
}








/* --------------------------------RESPONSIVE END-------------------------------- */





/* -------------------------------------NAVBAR CSS START----------------------------- */

.navigation{
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  padding: 2rem 9%;
}

.navigation .Logo{
  color: var(--main-color);
  font-size: 2.3rem;
}

.navigation .Logo:hover{
  color: #c3732a;
}

.navigation .btn{
  margin-top: 0;
  margin-left: 20rem;
}

.btn{
  display: inline-block;
  padding: .9rem 1.5rem;
  border-radius: var(--border-radious);
  color: var(--main-color);
  background: none;
  border: var(--border);
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.7rem;
}

.btn:hover{
  border-radius: var(--border-radious-hover);
  border: var(--border-hover);
  color: #EB89B5;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 2rem;
  color: var(--main-color);
}

.navigation-menu li a:hover{
  color: #EB89B5;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 3rem;
  color: var(--main-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #EB89B5;
}





@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    display: none;
  }
}


@media screen and (max-width: 768px) {
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: var(--main-color);
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li a:hover{
    color: #EB89B5;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation .btn{
    margin-top: 0;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu.expanded ul {
    display: block;
  }
}

@media screen and (max-width: 378px) {
  .navigation-menu.expanded ul {
    display: block;
  }
  .navigation .btn{
    margin-top: 0;
    margin-left: 5rem;
  }
  
}

/* -------------------------------------NAVBAR CSS END----------------------------- */